.keyword-search {
  display: flex;

  &:has(input:focus, input:focus-visible, input:focus-within){
    outline: solid 1px var(--color-th-orange);
  }

  input{
    flex-grow: 2;
    padding: var(--half) var(--xs);
    border: none;
    
    &:focus, &:focus-visible, &:focus-within{
      border: none;
      outline: none;
    }
  }

  button{
    padding: var(--s);
    border: none;
    background-color: var(--color-white);
    color: var(--color-white);
    cursor: pointer;

    .icon{
      margin-right: 0;
      color: var(--color-darkest);
    }
  }

  &.for-large-viewports{
    display: none;
  }

  @media screen and (width >= 40em){
    &.for-large-viewports{
      display: block;

      input{
        background-color: var(--color-grey-dark);;
      }

      button{
        background-color: var(--color-th-orange);
      }
      
    }

    &.for-small-viewports{
      display: none;
    }
  }



}

